.title 
{
    display: flex;
    align-items: center;
    justify-content:center;
}

.login button
{
    padding: 10px;
    width: 70%;
}

.login 
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}

.register button 
{
    text-align: center;
    padding: 10px;
    width: 70%;
}

.register 
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}


.support button
{
    text-align: center;
    padding: 10px;
    width: 70%;

}

.support 
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}

.footer 
{
    position: absolute;
    bottom: 5px;
}