* {
    margin: 0;
    padding: 0;
}


.header-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}



.login-register
{
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}

.forgotPassword
{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}

.login-register button
{
    color: white;
    font-size: 1.55rem;
    background-color: #ca74ff;
}

.forgotPassword button
{
    color: white;
    font-size: 1.55rem;
    background-color: #ca74ff;
}

.title 
{
    display: flex;
    justify-content: center;
    font-size: xx-large;

}

.content-container
{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    gap: 30px;
    margin-top: 20px;
    padding-left: 400px;
}

.box-1
{
    display: flex;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #EF828F;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center;
}

.box-2
{
    padding:10px;
    border: 4px solid black;
    width: 500px;
    height: 100px;

}

.quote
{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}


.footer 
{
    display: flex-end;
    flex-direction: column;
    margin: 0 auto;
}

#errors
{
    padding-top: 20px;
    color:red;
    text-align: center;
}

.anon-container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(250,0,213,0.22032563025210083) 0%, rgba(165,0,221,0.20632002801120453) 36%, rgba(0,76,255,0.3715861344537815) 86%);

}


.anon-map 
{
    display: inline;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #EF828F;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center;
}


.feature-anon
{
    display: flex;
    justify-content: space-between;
    padding-top: 500px;
}

.anon-services
{
    display: inline;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #8C72DE;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center

}

.anon-pins
{
    display: inline;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #72DEC2;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center
}

.anon-events
{
    display: inline;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #C4DE72;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center
}
.anon-alerts {
    display: inline;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #DEC272;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center
}

.anon-reputation
{
    display: inline;
    padding:10px;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    background-color: #C272DE;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-align: center
}

.footer
{
    margin-top: auto;
}