.deletion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
  }
  
  .title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
  
  .delete-btn {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #f0132d;
    color: white;
    border: none;
   
  }
  
  .delete-btn:hover {
    background-color: #d11127;
    cursor: pointer;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .back-button button {
    padding: 10px 20px;
    min-width: 50px;
    background-color: #e72cf5;
    color: white;
    border: none;
    
  }
  
  .back-button button:hover {
    background-color: #ca27d6;
    cursor: pointer;
  }