
.otp 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
} 

.otp input
{
    border-color: black;
    padding: 15px;
}


.submit button
{
    background-color: #ca74ff;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 15%
}

.submit button:hover
{
    background-color: #eb61ff;
    color: white;
}

.submit
{
    /* display: relative; */
    /* justify-content: center; */
    text-align: center;
    /* padding-bottom: 40%; */
    /* padding: 50px; */
}

#otp-title
{
    text-align: center;
}

.otp-display
{
    color: blue;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

.otp-container
{
    display: none;
}
