*
{
    margin: 0;
    padding: 0;
}

.top-button-container
{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

#b-l
{
    min-width: 100px;
    background-color: #ca74ff;
    color: white;
}

#b-b
{
    min-width: 100px;
    background-color: #00acb7;
    color: white;

}

.consent-form-container
{
    display:flex;
    justify-items: center;
    justify-content: center;
    border-color: blueviolet;
    align-items: center;
}

.form
{

    display: flex;
    border-color: black;
    background-color: lightgrey;
    width: 500px;
    height: 400px;
    min-width: 480px;
    min-height: 400px;
    align-items: center;

}

.submission-container
{
    display:flex;
    justify-content: center;
    padding: 30px 30px;
}
.submission-container button
{
    padding-left: 20px;
}


.button-sub button 
{
    min-width: 100px;
    background-color: #ca74ff;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    border-color: black;


}

.check-sub  
{
    padding-right: 20px;
    padding-top: 8px;

}