.title
{
    display: flex;
    justify-content: center;

}

.home button
{ 
    width: 20%;
}

.email input
{
    width: 40%;

}

.email 
{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;

}


.password input
{
    width: 40%;

}

.password 
{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;

}


.submit
{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;

}

.confirm input
{
    width: 40%;

}


.confirm 
{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;

}

.submit button
{
    background-color: #CA74ff;
    color: white;
}