* {
    margin: 0;
    padding: 0;
}

.options
{
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

#create-event
{
    margin-right: 50px;
}

#join-event
{
    margin-left: 50px;
}

#create-event:hover
{
    background-color: #ca74ff;
    color: white;

}

#join-event:hover
{
    background-color: #ca74ff;
    color: white;
}

.events-joined {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.events-created 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

/* events home */
.events-container
{
    display: none;
}

/* events created */
.events-created-container
{
    display: none;
}

/* events joined */
.events-joined-container
{
    display: none;
}
